@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
}

html {
  color-scheme: dark;
}

body {
  background: #09090b;
  color: #fafafa;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}
